# datasets (Speech Commands V2, MUSAN, RIRs, etc.)
data/

# python
**/.venv/
**/__pycache__/
**/*.pyc
**/*.egg-info/
**/build/
**/dist/
**/.pytest_cache/
**/.mypy_cache/

# ml artifacts
**/runs/
**/wandb/
**/*.pt
**/*.ckpt

# logs
**/*.log
**/runs_*.txt

# os / editor
.DS_Store
**/.DS_Store
**/.ipynb_checkpoints/

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.synctex.gz
